/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  min-height: 500px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: linear-gradient(0deg, #2b2b2b 0%, #575757 100%);
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 8px 32px;
  font-family: 'Satoshi', sans-serif;
  transition: all 0.15s ease-in-out;
  box-shadow:
    0px 0px 0px 1.5px rgba(255, 255, 255, 0.1) inset,
    0px 12px 32px 0px rgba(7, 7, 7, 0.3),
    0px 0px 0px 1.5px #313131;
}

.heroButton:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.05);
  box-shadow:
    0px 0px 0px 1.5px rgba(255, 255, 255, 0.1) inset,
    0px 16px 40px 0px rgba(7, 7, 7, 0.6),
    0px 0px 0px 1.5px #313131;
  transition: all 0.15s ease-in-out;
}
.heroButtonSimple {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: black;
  background-color: white;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 8px 32px;
  font-family: 'Satoshi', sans-serif;
  transition: all 0.15s ease-in-out;
  box-shadow: 0px 12px 32px 0px rgba(7, 7, 7, 0.1);
  /* 0px 0px 0px 3px rgba(7, 7, 7, 0.08); */
}

.heroImage {
  width: 10rem;
}

.bgPattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/static/img/grid-bg.png');
  background-size: 64px 64px;
  background-repeat: repeat;
  opacity: 0.2;
}
.bgNoise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/static/img/noise.png');
  background-size: 64px 64px;
  background-repeat: repeat;
  mix-blend-mode: screen;
  opacity: 0.25;
}

[data-theme='dark'] .bgNoise {
  mix-blend-mode: multiply;
}

[data-theme='light'] .bgPattern {
  filter: invert(1);
}

.heroBgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

[data-theme='dark'] .heroBgImage {
  filter: invert(1) hue-rotate(180deg);
}

.heroContentContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heroLogo {
  width: 100px;
  height: 100px;
  color: white;
}
