.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  border-top: 2px solid #232a3f;
  background-color: #f0f9ff;
}
[data-theme='dark'] .features {
  border-top: 2px solid #656d86;
  background-color: #191e2d;
}

.featureSvg {
  height: 128px;
  width: 128px;
}

.highlight {
  color: var(--ifm-color-accent);
}

.description {
  opacity: 0.8;
}
.title {
  font-family: 'Clash Display', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
}
